* {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "one one two three"
        "one one four five"
        "six seven eight nine"
    ;
    gap: 20px;
    margin: auto;
}

.card {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    transition: 0.5s;

}

.explore_img:hover {
    transform: scale(1.1);
}

.title {
    height: 50px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    color: white;
    bottom: 30px;
}

h4 {
    margin: 20px;
    font-size: 30px;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

@media screen and (min-width: 450px) and (max-width:1000px) {
    h4 {
        margin: 10px;
        font-size: 15px;
    }
}